{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true,
    "browser": false,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-unused-vars": "warn"
  }
}
